### u15
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨).
교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용).
현재 교통카드에는 9,000원이 들어있습니다.

- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원

In [1]:
age = int(input('나이 입력'))
balance = 9000

if 7 <= age <= 12:
    fare = 650
elif 13 <= age <= 18:
    fare = 1050
elif age >= 19:
    fare = 1250
else:
    fare = 0

print(f'{age}살의 요금은 {fare:,d}원이고, 잔액은 {balance-fare:,d}원입니다.')

25살의 요금은 1,250원이고, 잔액은 7,750원입니다.

### u16
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요.
출력 형식은 숫자 숫자 = 숫자처럼 만들고 숫자와 , = 사이는 공백을 한 칸 띄웁니다.

In [2]:
n = int(input())
for i in range(1, 10):
    print(f'{n} * {i} = {n*i}')

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### u17
표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요.
단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [3]:
balance = int(input())
fare = 1350

while balance >= fare:
    balance -= fare
    print(balance)

7650
6300
4950
3600
2250
900

### u18
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200,
두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다).
다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요.
정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [ ]:
start, stop = map(int, input().split())
i = start
while True:
    if i > stop:
        break
    if i % 10 == 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

### u19
표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [5]:
n = int(input())

for i in range(n):
    for k in range(n-i-1):
        print(' ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [6]:
n = int(input())

for i in range(n):
    print(' '*(n-i-1) + '*'*(2*i+1))

    *
   ***
  *****
 *******
*********